body{
	background-color: #f1f1f1;
	color: #0f141e;
	font: 700 15px 'Lucida Sans'
	
	/*font-size: 15px;
	font-weight: 700;
	font-family: 'Lucida Sans'
}


	.avatar{
		width: 200px;
		border-radius: 50px;
	}
	
	
	
